<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" id="main" style="padding-top:0;padding-bottom:0;margin-top:0">
  <!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignfull">
    <!-- wp:group {"className":"page-hero","layout":{"type":"constrained"}} -->
    <div class="wp-block-group page-hero"></div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
  <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
  <!-- wp:spacer {"height":"1rem"} -->
  <div style="height:1rem" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
